body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.info.legend {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
}

.info.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}

.info.legend div {
  clear: both; /* Ensure each item starts on a new line */
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
}